.chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 860px;
    padding: 40px; /* Add more padding for input */
    margin-bottom: 20px;
    background-color: #f8f8f8; /* Match the app's clean aesthetic */
}

.textarea-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: center;
    height: 36px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    padding: 10px 13px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textarea-container:focus-within {
    border-color: #f0f0f0; /* Highlight border when focused */
    box-shadow: 0 0 6px rgba(140, 140, 140, 0.12); /* glow */
}

.chat-textarea {
    justify-content: center;
    align-items: center;
    width: 90%; /* horizontal portion */
    height: 30px; 
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.5px;
    word-spacing: -.35rem;
    border: 1px solid #ffffff; /* Light border */
    border-radius: 6px; /* Rounded corners */
    outline: none; /* Remove focus outline */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    resize: none;
}

.chat-textarea::-webkit-scrollbar {
    display: none;
}

.chat-textarea:hover::-webkit-scrollbar {
    display: block;
    height: 4px;
}

.chat-textarea:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 2px;
}

.chat-textarea:hover::-webkit-scrollbar-track {
    background: transparent;
}

.hidden-file-input {
    display: none;
}

.camera-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.submit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.camera-button img,
.submit-button img {
    width: 24px;
    height: 24px;
}

/* ChatInput.css */
.medical-exam-input {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.medical-exam-input .o-button,
.medical-exam-input .x-button {
    background: #242424;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.medical-exam-input .o-button:hover,
.medical-exam-input .x-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.medical-exam-input img{
    width: 24px;
    height: 24px;
}

.diagnosis-page-input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.diagnosis-page-input .continue-button,
.diagnosis-page-input .save-button {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
  